.rosa-tasks .card-title {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 800;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
}

.rosa-tasks .card-content {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.rosa-tasks .card-content p {
    margin: 0;
}

.rosa-tasks .task-done {
    opacity: 0.4;
}